.body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #F6DEFF;
    background-image: url(./image/purple.png);
    background-repeat: repeat-x;
    position: relative;
    width: 1440px;
height: 1024px;
}
.wow{
    position:absolute;
    height:auto;
    left:0px;
    width:250px;
}
.icon{
    position: absolute;
    width: 447px;
    height: 83;
    left: 1450px;
    top:40px;
}
.stu1{
    position: absolute;
    width: 362px;
    height: 353px;
    left: 150px;
    top: 140px;
    
}
.stu2{
position: absolute;
width: 362px;
height: 353px;
left: 750px;
top: 136px;

}
.stu3{
position: absolute;
width: 362px;
height: 353px;
left: 1350px;
top: 136px;
}
.stu4{
position: absolute;
width: 362px;
height: 353px;
left: 150px;
top: 534px;
}
.stu5{
position: absolute;
width: 362px;
height: 353px;
left: 750px;
top: 534px;
}
.stu6{
    position: absolute;
    width: 362px;
    height: 353px;
    left: 1350px;
    top: 534px;
}

@media  only screen and(max-width:600px) {
    .body{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
    }
    body{
        background-color: #F6DEFF;
        background-image: url(./image/purple.png);
        background-repeat: repeat-x;
        position: relative;
        width: 1440px;
    height: 1024px;
    }
    .wow{
        position:absolute;
        height:auto;
        left:0px;
        width:250px;
    }
    .icon{
        position: absolute;
        width: 447px;
        height: 83;
        left: 1450px;
        top:40px;
    }
    .stu1{
        position: absolute;
        width: 362px;
        height: 353px;
        left: 5px;
        top: 140px;
        
    }
    .stu2{
    position: absolute;
    width: 362px;
    height: 353px;
    left: 5px;
    top: 597px;
    
    }
    .stu3{
    position: absolute;
    width: 362px;
    height: 353px;
    left: 5px;
    top: 1067px;
    }
    .stu4{
    position: absolute;
    width: 362px;
    height: 353px;
    left: 150px;
    top: 534px;
    }
    .stu5{
    position: absolute;
    width: 362px;
    height: 353px;
    left: 750px;
    top: 534px;
    }
    .stu6{
        position: absolute;
        width: 362px;
        height: 353px;
        left: 1350px;
        top: 534px;
    }
}    