body{
    background:#F5F5F5 ;  
    font-family: 'Pirata One','san serf'; 
    align-items: center;  
    justify-content: center;
}  

.list2{   
    box-sizing: border-box; 
    box-shadow: inset  0 0 40px black;
    height: 650px; 
    width: 998px;  
    bottom: -20%;;
    background:#E8AF17; 

    position: relative; 
    border-radius: 50px; 
    left: 0px; 
    top:0px;

    border:  10px solid #000000;
   color: #DCDCDC;

} 
.logo{
    position: absolute;
    left: 37.91%;
    right: 37.72%;
    top: -29%;
    bottom: 70.57%;
    width: 250px;;
    height: 297.01px;

}



h1{
    position:absolute;
    left: 30px;
    top: -10px;
}
.details{
    position: relative;
    left:20px;
    top:100px;

    
    list-style-type: none; 
    margin: 20px;
  padding: 0;
  align-items:center;
  justify-items: end;

}



.pic{
    position: absolute; 
    top: 5%; 
    right: 5%;
    width: 276px;
    height: 337px;
}  


h1{
    text-align: center; 
    font-size: 3em;
    left: 10%;
}
th, td{
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 29px;
    padding-right: 100px;
  }
  .list1{
    box-sizing: border-box; 
    box-shadow:   0 0 300px#FFE29B;
    height: 650px; 
    width: 998px;  
    bottom: -20%;;


    position: relative; 
    border-radius: 50px; 
    left: 260px; 
    top:15px;
  }
  .icon{
    width:"180px";
     height:"80px";
  }

  @media  only screen and(max-width:600px)
  {
    body{
        background:#F5F5F5 ;  
        font-family: 'Pirata One','san serf'; 
        align-items: center;  
        justify-content: center;
    }  
    
    .list2{   
        box-sizing: border-box; 
        box-shadow: inset  0 0 40px black;
        height: 650px; 
        width: 998px;  
        bottom: -20%;;
        background:#E8AF17; 
    
        position: relative; 
        border-radius: 50px; 
        left: 0px; 
        top:0px;
    
        border:  10px solid #000000;
       color: #DCDCDC;
    
    } 
    .logo{
        position: absolute;
        left: 37.91%;
        right: 37.72%;
        top: -29%;
        bottom: 70.57%;
        width: 250px;;
        height: 297.01px;
    
    }
    
    
    
    h1{
        position:absolute;
        left: 30px;
        top: 100px;
    }
    .details{
        position: relative;
        left:20px;
        top:100px;
    
        
        list-style-type: none; 
        margin: 20px;
      padding: 0;
      align-items:center;
      justify-items: end;
    
    }
    
    
    
    .pic{
        position: absolute; 
        top: 5%; 
        right: 5%;
        width: 276px;
        height: 337px;
    }  
    
    
    h1{
        text-align: center; 
        font-size: 3em;
        left: 10%;
    }
    th, td{
        padding-top: 0px;
        padding-bottom: 30px;
        padding-left: 29px;
        padding-right: 100px;
      }
      .list1{
        box-sizing: border-box; 
        box-shadow:   0 0 300px#FFE29B;
        height: 1155px; 
        width: 702px;  
        bottom: -20%;;
    
    
        position: relative; 
        border-radius: 50px; 
        left: 260px; 
        top:15px;
      }
      .icon{
        width:"180px";
         height:"80px";
      }
  }